@page
@model FeelingOldYet.Pages.Shared.AgeLeaderboardModel
@{
    <h1>Feeling Old Yet?</h1>
    <h2>If not, you will soon!</h2>

    <form method="post">
        <input type="number" name="Age"/>
        <input type="text" name="Name"/>
        <button type="submit">Submit</button>
    </form>
}
