@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Hello and Welcome!</h1>
    <p>"Feeling Old Yet?" is a small project built by BlueBearCodes to generate fun messages based on a user's age. Click on the "Age Event Log" page to begin.</p>
</div>
